div{
    background: white;
    width: 100 px;
    height: 200px;
    border:2px solid red
}


.from-information{
    background: rgb(251, 254, 255);
    padding: 10px;
    border: 1px solid red;
}
    .circulo  {
        width: 50px
        height: 50px
        margin: 10px
        background-color:lime
        border-radius: 50%
        display: absolute

}